<div class="alert alert-primary" role="alert">
    <a routerLink="/mainPage">main page</a>/table
</div>
<div class="card">
    <table class="table table-striped">
        <thead>
            <tr>
                <th *ngFor="let header of tableHeader.items">
                    {{header.th}}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let items of tableHeader.body">
                <td *ngFor="let td of items.value; last as isLast">
                    {{td.text}}
                    <a class="persian-font " *ngIf="isLast && tableHeader.editPersmisson"
                        routerLink="/mainPage/edit/{{items.id}}">
                        <i class="fa fa-edit float-right pointer"></i>
                    </a>
                    <i class="fa fa-trash float-right pointer" *ngIf="isLast && tableHeader.deletePermission"></i>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="card padding" *ngIf="tableHeader.createPermisson">
    <div>
        <button class="btn btn-primary float-right">
            <i class="fa fa-plus"></i>
            create
        </button>
    </div>
</div>