
<div class="main-container">
    <div class="card">
        <div class="row">
            <div class="col-sm-12">
                <div class="input-group">
                    <div class="input-group-append">
                        <label class="input-group-text">
                            username
                        </label>
                    </div>
                    <input class="form-control">
                </div>
            </div>
            <div class="col-sm-12">
                <div class="input-group">
                    <div class="input-group-append">
                        <label class="input-group-text">
                            password
                        </label>
                    </div>
                    <input class="form-control" type="password">
                </div>
            </div>
            <div class="col-sm-12 ">
                <button class="btn btn-primary float-right" (click)="login()">
                    login
                </button>
            </div>
        </div>
    </div>
</div>
