.main-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../../assets/img/login.jpg');
    background-position: center;
    background-size: cover;
}
.card {
    min-height: 30vh;
    padding: 15px;
    width: 50%;
}
.col-sm-12 {
    margin: 15px 0;
}