.list-container {
    height: 100vh;
    background-color: #182737;
}
.list-group {
    margin-top: 15px;
}
.list-group-item {
    background-color: inherit;
    color: white;
    cursor: pointer;
}
.center {
    text-align: center;
    position: absolute;
    bottom: 5%;
}
.col-sm-10 {
    padding: 15px;
}
.card {
    padding: 15px;
}
a {
    color: inherit;
}