<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2 list-container">
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let list of lists;">
                    {{list.name}}
                    <ul class="list-group">
                        <li class="list-group-item" *ngFor="let children of list.children">
                            <a class="persian-font " routerLink="table/{{children.path}}">
                                {{children.name}}
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="center">
                <button class="btn btn-primary" (click)="logout()">
                    log out
                </button>
            </div>
        </div>
        <div class="col-sm-10">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
