<div class="alert alert-primary" role="alert">
    <a routerLink="/mainPage">main page</a>/ <a routerLink="/mainPage/table/1">table</a>/ edit
</div>
<div class="card">
    <div class="row">
        <div class="col-sm-12" *ngFor="let form of forms.items">
            <div class="row">
                <div class="col-sm-1">
                    <label>
                        {{form.label}}
                    </label>
                </div>
                <div class="col-sm-11">
                    <input class="form-control" *ngIf="form.type != 'checkbox' && form.type != 'radio'"
                        [(ngModel)]="form.value" [disabled]="form.disabled" [required]="form.required"
                        type="{{form.type}}">
                    <div class="custom-control custom-checkbox mr-sm-2" *ngIf="form.type == 'checkbox'">
                        <input type="checkbox" [(ngModel)]="form.value" class="custom-control-input"
                            id="customControlAutosizing">
                        <label class="custom-control-label" for="customControlAutosizing"></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card margin-top">
    <div>
        <button class="btn btn-primary" >
            <i class="fa fa-save"></i>
            save
        </button>
        <button class="btn btn-secondary">
            <i class="fa fa-close"></i>
            close
        </button>
    </div>
</div>